{load href="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>  
<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui.admin/js/H-ui.admin.js"></script>
{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}
{load href="__STATIC__/admin/js/common.js" /}
{load href="__STATIC__/admin/js/image.js" /}
<script>
/**定义页面全局变量**/
	var SCOPE = {
		'city_url' : '{:url("api/City/getCityByParentId")}',
		'category_url' : '{:url("api/Category/getCategoryByParentId")}',
		'uploadify_swf' : '__STATIC__/admin/uploadify/uploadify.swf',
		'uploadify_uploader' : '{:url("api/image/upload")}',
	}

</script>

